# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Ultralytics / YOLO
weights/
*.pt
*.cache

# =====================
# VS Code / IDE
# =====================
.vscode/

# =====================
# Data files
# =====================
data/seg_synth_step1/
data/seg_synth_step2_yolo/
data/seg_synth_mix/
data/seg_synth_dynamic/
data/seg_synth_dynamic_runtime/
data/seg_synth_mix_runtime/

# =====================
# results
# =====================
runs/
runs_local/
