# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Ultralytics / YOLO
weights/
*.pt
*.cache

# =====================
# VS Code / IDE
# =====================
.vscode/

# =====================
# Data files
# =====================
assets/

# =====================
# results
# =====================
runs/
runs_local/
outputs/
