# ===== Core =====
ultralytics>=8.3.0

# ===== Image & Data =====
opencv-python
numpy
pillow
pyyaml

# ===== OCR (PaddleOCR) =====
paddleocr>=2.7.0
paddlepaddle>=2.6.0

# ===== Utils =====
tqdm
matplotlib